
# -- --------------------------------------------------------------------------------------------------- -- #
# -- project: Backtesting de Estrategias de Asset Allocation PAP 4J05A                                   -- #
# -- script: requirements.txt : text file with the required libraries for the project                    -- #
# -- authors: J3SVS, diegotita4, JoAlfonso, Antonio-IF, Oscar148                                         -- #
# -- license: GPL-3.0 License                                                                            -- #
# -- repository: https://github.com/diegotita4/PAP.git                                                   -- #
# -- --------------------------------------------------------------------------------------------------- -- #

# En la terminal utilizar los siguientes pasos (Todos los IDE)
#CAMINO 1
# 1. pip freeze > requirements.txt
# 2. pip install -r requirements.txt

#CAMINO 2 (Visual Studio)
# 1. Generar el ambiente mediante python -m venv env
# 2. Seleccionarlo en VSCode en View->Command Palette->Python: Select Interpreter
# 3. Activarlo en View->Command Palette->Terminal:Create New Integrated Terminal
# 4. Instalar las librerías desde el archivo utilizando python -m pip install -r requirements.txt

numpy >= 1.26.3
yfinance >= 0.2.36
scipy.optimize >= 1.12.0
pandas >= 2.2.0
streamlit >= 1.31.0
# python >= 3.9
