
"""
# -- --------------------------------------------------------------------------------------------------- -- #
# -- project: Quantitative Analysis and Allocation (QAA)                                                 -- #
# -- script: requirements.txt - Text file with the required libraries for the project                    -- #
# -- authors: diegotita4 - Antonio-IF - JoAlfonso - J3SVS - Oscar148                                     -- #
# -- license: GNU GENERAL PUBLIC LICENSE - Version 3, 29 June 2007                                       -- #
# -- repository: https://github.com/diegotita4/PAP                                                       -- #
# -- --------------------------------------------------------------------------------------------------- -- #
"""

"""
PATH 1: Terminal:

1-. Run the command pip freeze > requirements.txt.
2-. Install the dependencies using pip install -r requirements.txt.

PATH 2: Visual Studio:

1-. Create a virtual environment using python -m venv venv.
2-. Select it in VSCode by going to View -> Command Palette -> Python: Select Interpreter.
3-. Activate it in View -> Command Palette -> Terminal: Create New Integrated Terminal.
4-. Install the libraries from the file using python -m pip install -r requirements.txt.
"""

numpy >= 1.26.4
pandas >= 2.2.0
scipy >= 1.11.4
datetime >= 5.5
yfinance >= 0.2.36
matplotlib >= 3.8.3
pyportfolioopt >= 1.5.5
